<h1>Audios</h1>

<table class="bordered" [@listStagger]="audios$">
  <tr *ngFor='let audio of audios$'>
    <td>{{audio.bitrate}}</td>
    <td>{{audio.contentSize}}</td>
    <td>{{audio.contentURI}}</td>
    <td>{{audio.encodingFormat}}</td>
    <td>{{audio.uploadDate}}</td>
  </tr>
</table>
<!-- <ul [@listStagger]="audios$">
  <li *ngFor='let audio of audios$'>
    <a routerLink="/details/{{audio._id}}">{{audio.label}}</a>

    <ul>
      <li>{{audio.bitrate}}</li>
    </ul>
    <ul>
      <li>{{audio.contentSize}}</li>
    </ul>
    <ul>
      <li>{{audio.contentURI}}</li>
    </ul>
    <ul>
      <li>{{audio.encodingFormat}}</li>
    </ul>
    <ul>
      <li>{{audio.uploadDate}}</li>
    </ul>

    bitrate: { type: Number, required: true },
    contentSize: { type: Number },
    contentURI: { type: String, required: true },
    location: { X: { type: Number }, Y: { type: Number } },
    encodingFormat: { type: String, required: true },
    uploadDate: { type: Date, required: true },
    duration: { type: Number, required: true },
    label: { type: String, required: true } -->
<!--   </li>
</ul>  -->