<mat-toolbar>
    <span>{{service.form.controls['_id'].value?"Modify Audioclip":"New Audioclip"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<!-- <form #audioForm = 'ngForm' [formGroup]="service.form" class="normal-form" (submit)="add(audioForm)"> -->
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <input type="file" formControlName="file">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="_id">
                <mat-form-field>
                    <input formControlName="bitrate" matInput placeholder="Bitrate*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="contentSize" matInput placeholder="Content Size">
                    <mat-error>Invalid content size</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="contentURI" matInput placeholder="URL*">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="encodingFormat" matInput placeholder="Format">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="uploadDate" matInput [matDatepicker]="picker" placeholder="Upload Date*">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="duration" matInput placeholder="Duration*">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="label" matInput placeholder="Label*">
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>